body{
    background-color: hsla(0, 0%, 0%, 0.782);
}
.to-do-list{
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    margin-top: 100px;
    
}

h1{
    font-size: 4rem;
    color:  white;
}

button{
    font-size: 1.7rem;
    font-weight: bold;
    padding: 10px 20px;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.5s ease;
    margin-left: 10px;
}

.add-button{
    background-color: hsl(120, 88%, 41%);
}

.add-button:hover{
    background-color: hsl(120, 88%, 34%);
}

.delete-button{
    background-color: hsl(10, 76%, 50%);
}

.delete-button:hover{
    background-color: hsl(10, 76%, 41%);
}

.move-button{
    background-color: hsl(210, 76%, 50%);
}

.move-button:hover{
    background-color: hsl(210   , 76%, 40%);
}

input[type= "text"]{
    font-size: 1.7rem;
    padding: 10px;
    border: 2px solid rgb(183, 179, 179);
    border-radius: 5px;
    color: hsl(0, 1%, 34%);
}

ol{
    list-style: none; /*can do with padding :0px*/
}
li{
    font-size: 2rem;
    font-weight: bold;
    padding: 15px;
    background-color: hsl(0, 0%, 97%);
    border: 3px solid hsla(0, 0%, 85%, 0.75);
    margin-bottom: 10px;
    border-radius: 5px;
    display: flex;
    align-items: center;
}

.text{
    flex: 1;
}

.delete-button, .move-button{
    padding: 8px 12px;
    font-size: 1.4rem;
    margin-left: 10px;
}